[project]
	description = Decodes serialized form data and populates a form with that data.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joe Lee-Moyet (yjo)
[access "refs/for/refs/*"]
	read = group user/Joe Lee-Moyet (yjo)
	push = group user/Joe Lee-Moyet (yjo)
	label-Code-Review = -2..+2 group user/Joe Lee-Moyet (yjo)
	label-Verified = -1..+1 group user/Joe Lee-Moyet (yjo)
	rebase = group user/Joe Lee-Moyet (yjo)
	removeReviewer = group user/Joe Lee-Moyet (yjo)
	submit = group user/Joe Lee-Moyet (yjo)
[access "refs/heads/*"]
	read = group user/Joe Lee-Moyet (yjo)
	create = group user/Joe Lee-Moyet (yjo)
	push = +force group user/Joe Lee-Moyet (yjo)
	pushMerge = group user/Joe Lee-Moyet (yjo)
[access "refs/tags/*"]
	push = +force group user/Joe Lee-Moyet (yjo)
	pushTag = group user/Joe Lee-Moyet (yjo)
	pushSignedTag = group user/Joe Lee-Moyet (yjo)
